.account-container{
    background-image: url('../images/bg-image2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 0;
}
.account-box{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    opacity: .9;
}
